// COLORS
$color-primary: #b9bfba;
$color-primary-light: #e6763e;
$color-primary-dark: #4186ba;
$color-primary-bg: #89918b;
$color-light-bg: #b8bfba;

$color-secondary-light: #ffb900;
$color-secondary-dark: #141b40;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #e8e8e8;

$color-grey-dark: #707070;
$color-grey-dark-2: #999;
$color-grey-dark-3: #2d3130;

$color-white: #fff;
$color-black: #00212a;

// FONT
$default-font-size: 1.6rem;
$default-font: "Open Sans", sans-serif;
$default-header: "classico-urw", sans-serif;

// GRID
$grid-width: 120rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 2rem;

$fastEffect: all 0.5s ease-in-out;
$slowEffect: all 1s ease-in-out;
